.scroller {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.scroller::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
.scroller::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.scroller::-webkit-scrollbar-track {
  background: transparent;
}
.box {
  width: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.image {
  height: 450px;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-sizing: border-box;
}
.d-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background: white;
}
.type {
  display: flex;
  flex-direction: column;
}
.type h4 {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
.type span {
  color: rgba(26, 26, 26, 0.5);
}
